* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
.claude export-ignore
.cursor export-ignore
.mcp.json export-ignore
.vscode export-ignore
AGENTS.md export-ignore
CLAUDE.md export-ignore
GEMINI.md export-ignore
.styleci.yml export-ignore
